extends layout-search

block content
      div.navbar.navbar-inverse.navbar-fixed-top
        div.inner
          div.navbar-inner
            div.container
            a(id="search",href="/",class="brand") Bubble again

      #search-results
        h2 Your results:
        - results.forEach(function(value, key) {
          p(class="label label-info") #{value.name}
          ul
            li code: #{key}
            li income level: #{value.incomeLevel.value}
            li capital: #{value.capitalCity}
            li longitude: #{value.longitude}
            li latitude: #{value.latitude}
        - });
